<template>
    <div id="inicio" class="main-banner d-flex flex-wrap flex-column justify-content-center align-items-center">
        <img src="src/assets/ogilvy-home.png" class="banner img-fluid mx-auto d-block">
        <div class="position-absolute badge">
            <div class="g-partnersbadge nexa-book" data-agency-id="2924979048"></div>
        </div>
        <div class="position-absolute trabajo">
            <a href="#" v-scroll-to="{el: '#trabajo', offset: -100}">
                <img src="src/assets/scroll-down.png" class="animated bounce infinite" alt="">
            </a>
        </div>
    </div>
</template>