<template>
    <div class="formulario mt-5 pt-3" id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-5">
                    <div class="nexa-black">
                        <h2>ESCRÍBENOS</h2>
                        <h4>Y TE CONTACTAREMOS</h4>
                    </div>
                    <p class="mt-3">Cuéntanos de tu proyecto y nosotros prepararémos una estrategia para usted.</p>
                    <h4>Síguenos en:</h4>
                    <div class="sociales">
                        <a class="red-text mr-3" href="https://www.youtube.com/user/TargetOgilvy" target="_blank">
                            <i class="fa fa-youtube-play fa-2x"></i>
                        </a>
                        <a class="blue-text mr-3" href="https://twitter.com/TargetOgilvy" target="_blank">
                            <i class="fa fa-twitter fa-2x"></i>
                        </a>
                        <a class="purple-text mr-3" href="https://www.instagram.com/targetogilvyni/" target="_blank">
                            <i class="fa fa-instagram fa-2x"></i>
                        </a>
                        <a class="indigo-text mr-3" href="https://www.facebook.com/TargetOgilvy/" target="_blank">
                            <i class="fa fa-facebook fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-7">
                    <p>Nosotros apreciamos su negocio y por eso le garantizamos una respuesta en 24 horas incluyendo nuestros paquetes con precios.</p>
                    <div class="errores d-flex flex-column mb-2">
                        <span v-show="errors.has('name')" class="red-text">{{ errors.first('name') }}</span>
                        <span v-show="errors.has('phone')" class="red-text">{{ errors.first('phone') }}</span>
                        <span v-show="errors.has('email')" class="red-text">{{ errors.first('email') }}</span>
                        <span v-show="errors.has('message')" class="red-text">{{ errors.first('message') }}</span>
                        <span v-show="errors.has('captcha')" class="red-text">{{ errors.first('captcha') }}</span>
                    </div>
                    <div v-if="this.errorenvio" class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4>Algo ha ocurrido</h4> Algo ha salido mal al momento de guardar tus datos, reinicia la página o inténtalo de nuevo más tarde.
                    </div>
                    <form @submit.prevent="submit_form()" novalidate>
                        <div class="row">
                            <div class="col-sm-6 padding-right-10">
                                <input type="text"
                                       placeholder="Nombre *"
                                       class="form-control borde rounded-top-left pl-2"
                                       :class="{'is-invalid': errors.has('name')}"
                                       name="name"
                                       data-vv-as="nombre"
                                       v-validate="'alpha_spaces|required'"
                                       v-model="formulario.name">
                            </div>
                            <div class="col-sm-6 padding-left-0">
                                <input type="text"
                                       placeholder="Teléfono *"
                                       class="form-control borde rounded-top-right pl-2"
                                       :class="{'is-invalid': errors.has('phone')}"
                                       name="phone"
                                       data-vv-as="teléfono"
                                       v-validate="'numeric|min:8|max:8|required'"
                                       maxlength="8"
                                       v-model="formulario.phone">
                            </div>
                            <div class="col-sm-12">
                                <input type="text"
                                       class="form-control borde pl-2"
                                       name="email"
                                       :class="{'is-invalid': errors.has('email')}"
                                       data-vv-as="correo electrónico"
                                       placeholder="Correo Electrónico *"
                                       v-validate="'email|required'"
                                       v-model="formulario.email">
                                <textarea name="message"
                                          cols="30"
                                          rows="10"
                                          class="form-control md-textarea borde pl-2 mb-2 rounded-bottom-left rounded-bottom-right"
                                          :class="{'is-invalid': errors.has('message')}"
                                          data-vv-as="mensaje"
                                          v-validate="'required|max:300'"
                                          maxlength="300"
                                          placeholder="Mensaje *"
                                          v-model="formulario.message"></textarea>
                                <vue-recaptcha sitekey="6LeBjSYUAAAAAD3vTWLVVqXhBy0h-vRPktzcpFSR"
                                               @verify="captcha_verify"
                                               @expired="captcha_reset"
                                               ref="recaptcha"></vue-recaptcha>
                                <input type="hidden"
                                       v-model="captcha"
                                       name="captcha"
                                       v-validate="'required'">
                            </div>
                            <div class="col-sm-8 col-md-6 ml-auto">
                                <button type="submit" class="btn btn-danger" :class="{'disabled' : isLoading}">
                                    <i v-show="isLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> ENVIAR
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                formulario:{
                    name:null,
                    phone:null,
                    email:null,
                    message:null,
                    type: 1,
                },
                captcha:null,
                isLoading:false,
                errorenvio:false,
            }
        },
        methods:{
            submit_form(){
                this.$validator.validateAll().then((result)=>{
                    if(result){
                        this.isLoading = true;
                        this.registering();
                    }
                })
            },
            registering(){
                axios.post('core/service.php',this.formulario)
                    .then(this.after_register)
                    .catch(this.failed_register)
            },
            after_register(){
                this.isLoading = false;
                this.resetRecaptcha();
                $('#modal-success').modal('show');
                Object.assign(this.$data,this.$options.data());
                setTimeout(()=>{
                    this.errors.clear();
                },20)
            },
            failed_register(){
                this.errorenvio = true;
                this.resetRecaptcha();
            },
            captcha_verify(response){
                this.captcha = response;
            },
            captcha_reset(){
                this.captcha=null;
            },
            resetRecaptcha () {
                this.$refs.recaptcha.reset() // Direct call reset method
            }
        }
    }
</script>