<template>
    <header class="mb-5">
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar white" id="main-nav">
            <a class="navbar-brand" href="#">
                <img src="src/assets/logo.png" height="30" alt="">
            </a>
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Links -->
                <ul class="navbar-nav ml-auto list-text-bold">
                    <li class="nav-item active">
                        <a class="nav-link grey-text" v-scroll-to="'#inicio'" href="#inicio">INICIO <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link grey-text" v-scroll-to="'#trabajo'" href="#trabajo">TRABAJO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link grey-text" v-scroll-to="'#clientes'" href="#clientes">CLIENTES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link grey-text" v-scroll-to="'#contacto'" href="#contacto">CONTACTO</a>
                    </li>
                </ul>
                <!-- Links -->
            </div>
            <!-- Collapsible content -->
        </nav>
    </header>
</template>
<script></script>