<template>
    <div class="trabajos" id="trabajo">
        <div class="container-fluid">
            <ul class="nav md-pills nav-justified pills-secondary my-5">
                <li v-for="(cat,index) in cats" class="nav-item hoverable">
                    <a class="nav-link" :class="index== 0 ? 'active' : ''" data-toggle="tab" :href="'#panel'+ index" role="tab">{{cat}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div v-for="(cat,index) in cats"
                     class="tab-pane fade"
                     :class="index== 0 ? 'in show active' : ''"
                     :id="'panel'+index"
                     role="tabpanel">
                    <div class="row">
                        <template v-for="(trabajo,index) in filtro_trabajos(trabajos,cat)">
                                <div class="col-sm-6 col-md-4 col-lg-3 no-padding view overlay hm-red-strong fadeInRight"
                                     :class="{'border-top-red': primo(index) == 1,'border-top-red-dark': primo(index)==0}"
                                     :data-wow-delay="(0.6+index)">
                                    <img :src="trabajo.urlThumb" class="img-fluid mx-auto d-block" alt="">
                                    <div class="mask flex-center flex-column">
                                        <a data-toggle="modal"
                                           data-target="#modal-trabajo"
                                           @click="trabajo.youtube ? urloryoutube(null,trabajo.youtube) : urloryoutube(trabajo.urlImage,null)"
                                           class="white-text h1 text-center">{{trabajo.titulo}}</a><br>
                                        <span class="white-text">{{trabajo.subtitulo}}</span>
                                        <div class="sub-under"></div>
                                    </div>
                                </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <modal :urlImage="activeImage" :youtube="activeYoutube"></modal>
    </div>
</template>
<script>
    import modal from '@/componentes/partials/modal.vue';
    export default{
        components:{
            modal
        },
        data(){
            return{
                trabajos:[
                    {
                        titulo:'Beethoven',
                        subtitulo:'Clásica FM',
                        cat: 'Gráfica',
                        urlImage:'./src/assets/portfolio/ganadores/01.jpg',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/t01.jpg'
                    },
                    {
                        titulo:'Mozart',
                        subtitulo:'Clásica FM',
                        cat: 'Gráfica',
                        urlImage:'./src/assets/portfolio/ganadores/02.jpg',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/t02.jpg'
                    },
                    {
                        titulo:'Cejas',
                        subtitulo:'Mao’s Barbershop',
                        cat: 'Gráfica',
                        urlImage:'./src/assets/portfolio/ganadores/03.jpg',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/t03.jpg'
                    },
                    {
                        titulo:'Bigote',
                        subtitulo:'Mao’s Barbershop',
                        cat: 'Gráfica',
                        urlImage:'./src/assets/portfolio/ganadores/04.jpg',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/t04.jpg'
                    },
                    {
                        titulo:'Rostro',
                        subtitulo:'Ficohsa',
                        cat: 'Gráfica',
                        urlImage:'./src/assets/portfolio/ganadores/07.jpg',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/t07.jpg'
                    },
                    {
                        titulo:'Abdominales',
                        subtitulo:'AndFit',
                        cat: 'Gráfica',
                        urlImage:'./src/assets/portfolio/ganadores/08.jpg',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/t08.jpg'
                    },
                    {
                        titulo:'León Repuesto',
                        subtitulo:'Excel Automotriz',
                        cat: 'Gráfica',
                        urlImage:'./src/assets/portfolio/ganadores/09.jpg',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/t09.jpg'
                    },
                    {
                        titulo:'Zanahoria',
                        subtitulo:'Swiss Corner',
                        cat: 'Gráfica',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/swiss-corner.jpg',
                        urlImage:'./src/assets/portfolio/ganadores/swiss-corner-big.jpg',
                    },
                    {
                        titulo:'Apio',
                        subtitulo:'Swiss Corner',
                        cat: 'Gráfica',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/swiss-corner-apio.jpg',
                        urlImage:'./src/assets/portfolio/ganadores/swiss-corner-apio-big.jpg',
                    },
                    {
                        titulo:'Maggie Payton',
                        subtitulo:'Repuestos Excel',
                        cat: 'Gráfica',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/maggie-payton.jpg',
                        urlImage:'./src/assets/portfolio/ganadores/maggie-payton-big.jpg',
                    },
                    {
                        titulo:'Marty MacFly',
                        subtitulo:'Repuestos Excel',
                        cat: 'Gráfica',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/marty-mcfly.jpg',
                        urlImage:'./src/assets/portfolio/ganadores/marty-mcfly-big.jpg',
                    },
                    {
                        titulo:'La vida es un viaje',
                        subtitulo:'Ficohsa',
                        cat: 'Televisión',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/la-vida-es-un-viaje.jpg',
                        youtube:'https://www.youtube.com/embed/7CsRApFSsqs'
                    },
                    {
                        titulo:'Navidad Claro',
                        subtitulo:'Claro',
                        cat: 'Televisión',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/navidad-claro-2017.jpg',
                        youtube:'https://www.youtube.com/embed/jlPRe4Mg4iY'
                    },
                    {
                        titulo:'Vial Preso',
                        subtitulo:'Ficohsa',
                        cat: 'Televisión',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/vial-preso-hombre.jpg',
                        youtube:'https://www.youtube.com/embed/qMWQyD1H3DM'
                    },
                    {
                        titulo:'Chica',
                        subtitulo:'Ficohsa',
                        cat: 'Televisión',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/vial-preso-chica.jpg',
                        youtube:'https://www.youtube.com/embed/6S_asJzWHsA'
                    },
                    {
                        titulo:'Latidos FM',
                        subtitulo:'Kimberly Clark',
                        cat: 'Casos',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/radio-fm-huggies.jpg',
                        youtube:'https://www.youtube.com/embed/f8S0ovwTLSo'
                    },
                    {
                        titulo:'Maderas para siempre',
                        subtitulo:'',
                        cat: 'Branding',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/maderas-para-siempre.jpg',
                        youtube:'https://www.youtube.com/embed/C2bQMTZ3rcw'
                    },
                    {
                        titulo:'Cevichelas',
                        subtitulo:'',
                        cat: 'Branding',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/cevichelas.jpg',
                        urlImage:'./src/assets/portfolio/ganadores/cevichelas-big.jpg',
                    },
                    {
                        titulo:'Mosaico',
                        subtitulo:'',
                        cat: 'Branding',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/mosaico.jpg',
                        urlImage:'./src/assets/portfolio/ganadores/mosaico-big.jpg',
                    },
                    {
                        titulo:'Rabbit',
                        subtitulo:'',
                        cat: 'Branding',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/rabbit.jpg',
                        urlImage:'./src/assets/portfolio/ganadores/rabbit-big.jpg',
                    },
                    {
                        titulo:'El Cortijo',
                        subtitulo:'',
                        cat: 'Branding',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/el-cortijo.jpg',
                        urlImage:'./src/assets/portfolio/ganadores/el-cortijo-big.jpg',
                    },
                    {
                        titulo:'Tedx Nicaragua',
                        subtitulo:'',
                        cat: 'Branding',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/tedx-nicaragua.jpg',
                        urlImage:'./src/assets/portfolio/ganadores/tedx-nicaragua-big.jpg',
                    },
                    {
                        titulo:'Los puños de un país',
                        subtitulo:'Claro',
                        cat: 'Casos',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/punos-de-un-pais.jpg',
                        youtube:'https://www.youtube.com/embed/soDlugcwCNQ'
                    },
                    {
                        titulo:'Garage',
                        subtitulo:'Claro',
                        cat: 'Casos',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/banda-sin-garaje.jpg',
                        youtube:'https://www.youtube.com/embed/FiJV8JDsQZ8'
                    },
                    {
                        titulo:'Pospago cambia',
                        subtitulo:'Televisión',
                        cat: 'Televisión',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/pospago-cambia.jpg',
                        youtube:'https://www.youtube.com/embed/Nh-sbyDmzYA'
                    },
                    {
                        titulo:'Siameses',
                        subtitulo:'Cerveza Porteña',
                        cat: 'Radio',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/la-portena-siameses.jpg',
                        youtube:'https://www.youtube.com/embed/zyaQ7p-6zEU'
                    },
                    {
                        titulo:'Swingers',
                        subtitulo:'Cerveza Porteña',
                        cat: 'Radio',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/la-portena-swingers.jpg',
                        youtube:'https://www.youtube.com/embed/lL9_zyjVJnA'
                    },
                    {
                        titulo:'Noticias Revueltas',
                        subtitulo:'Escasan',
                        cat: 'Radio',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/noticias-revueltas-escasan.jpg',
                        youtube:'https://www.youtube.com/embed/x_Bo_z5BXfk'
                    },
                    {
                        titulo:'Noticias DEA',
                        subtitulo:'Escasan',
                        cat: 'Radio',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/noticias-dea-escasan.jpg',
                        youtube:'https://www.youtube.com/embed/x_Bo_z5BXfk'
                    },
                    {
                        titulo:'AirPak Nicaragua',
                        subtitulo:'AirPak',
                        cat: 'Televisión',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/airpak-nicaragua.jpg',
                        youtube:'https://www.youtube.com/embed/XIGu7Ay5RlA'
                    },
                    {
                        titulo:'Ficohsa Comprometidos',
                        subtitulo:'Ficohsa',
                        cat: 'Televisión',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/ficohsa-comprometidos.jpg',
                        youtube:'https://www.youtube.com/embed/fzYbSnk2Kzg'
                    },
                    {
                        titulo:'Ficohsa Confianza',
                        subtitulo:'Ficohsa',
                        cat: 'Televisión',
                        urlThumb:'./src/assets/portfolio/ganadores/thumb/ficohsa-confianza.jpg',
                        youtube:'https://www.youtube.com/embed/VoyxDgvoF0'
                    },
                    // {
                    //     titulo:'Paganini',
                    //     subtitulo:'Clásica FM',
                    //     cat: 'Radio',
                    //     urlThumb:'http://via.placeholder.com/500x500/000000',
                    //     youtube:'https://www.youtube.com/embed/E5ln4uR4TwQ'
                    // },
                    // {
                    //     titulo:'Mozart',
                    //     subtitulo:'Clásica FM',
                    //     cat: 'Radio',
                    //     urlThumb:'http://via.placeholder.com/500x500/000000',
                    //     youtube:'https://www.youtube.com/embed/E5ln4uR4TwQ'
                    // },
                ],
                cats:['Gráfica','Televisión','Branding','Casos','Radio'],
                activeImage:'',
                activeYoutube:'',
            }
        },
        methods:{
            primo(num){
              return num % 2;
            },
            filtro_trabajos(items,cat_name){
                return items.filter(function (item) {
                    return item.cat == cat_name;
                })
            },
            urloryoutube(image,youtube){
            if(image == null){
                this.activeImage = null;
                this.activeYoutube = youtube+'?enablejsapi=1';
            }
            if(youtube == null){
                this.activeImage = image;
                this.activeYoutube = null;
            }
         }
        }
    }
</script>