<template>
  <div id="main" style="opacity: 0">
    <cabeza></cabeza>
    <div class="mt-5 pt-3">
        <banner></banner>
        <trabajos></trabajos>
        <clientes></clientes>
        <mapa></mapa>
        <formulario></formulario>
    </div>
    <pie></pie>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
<style lang="scss">
  @import "./scss/main.scss";
</style>
