body{
  overflow-x: hidden;
}
.main-banner{
  background-image: url("assets/grupo.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  .banner{
      opacity: 0;
    width: 60%;
   }
    .red-line{
      height: 3px;
      width: 100%;
      background: red;
    }
  .trabajo{
    bottom: 0;
    margin: 0 auto;
    img{
      width: 70%;
    }
  }
  .badge{
    @media screen and (max-width: 548px){
      bottom: 150px;
    }
    bottom: 20px;
    right: 20px;
  }
  .label{
    background: black;
    color: white;
    padding: 10px 30px;
    @media screen and (max-width: 548px){
      bottom: 300px;
    }
    bottom: 200px;
    opacity: 0;
  }
}